  .preloader {
    background: #000;
    bottom: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: .5;
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 1;
  }
  .preloading-icon {
      z-index: 999;
  }

  .preloading-text{
      z-index: 999;
      position: absolute;
      top: 100px;
      left: 40px;
      right: 0;
      bottom: 0;
      width: 220px;
      height: 10px;
      margin: auto;
      color:#ccc;
      font-weight: 800;
        font-size: 20px; 
  }

  #loader {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 30px;
      height: 25px;
      margin: auto;
      display: -webkit-flex;
      flex-flow: row no-wrap;
      -webkit-justify-content: center;
      -webkit-align-items: center;
    }
  #loader.loaded .bar {
    width: 5px;
    height: 5px;
    margin-right: 1px;
    border-radius: 5px;
    background: #15db81;
    -webkit-flex: 1 5px;
  }
  #loader.loaded .bar:last-child {
      margin: 0;
  }
  #loader.loaded .bar:nth-child(1) {
      -webkit-animation: load 0.4s ease-in-out 0.1s infinite alternate;
  }
  #loader.loaded .bar:nth-child(2) {
      -webkit-animation: load 0.4s ease-in-out 0.2s infinite alternate;
  }
  #loader.loaded .bar:nth-child(3) {
      -webkit-animation: load 0.4s ease-in-out 0.3s infinite alternate;
  }
  #loader.loaded .bar:nth-child(4) {
      -webkit-animation: load 0.4s ease-in-out 0.5s infinite alternate;
  }
  #loader.loaded .bar:nth-child(5) {
      -webkit-animation: load 0.4s ease-in-out 0.6s infinite alternate;
  }

  @-webkit-keyframes load {
      100% {
          height: 25px;
      }
  }


  .no-data{
        height: 200px;
        color:#ccc;
    }

    
    .no-data .fa{
        color:#ccc;
        font-size: 60px;
    }

    .no-data h4{
        font-weight: 800;
        font-size: 20px;        
    }

     .no-data .wrap{
        margin-top: 10%;     
    }

    .no-data2{
        height: 200px;
        color:#ccc;
    }

    .no-data2 .fa{
        color:#ccc;
        font-size: 60px;
    }

    .no-data2 h4{
        font-weight: 800;
        font-size: 20px;        
    }

     .no-data2 .wrap{
        margin-top: 10%;     
    }